{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div id="orderHistory">
    <table class="table table-hover custom ">
        <thead>
            <tr>
                <th>Customer name</th>
                <th>Ordered pizza</th>
                <th class="sort">Order date </th>
            </tr>
        </thead>
        <tbody>
            {% for order in orderList %}
            <tr>
                <td>{{ order.name }}</td>
                <td>{{ order.product.name  }}</td>
                <td>{{ order.createdDate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}