{% block content %}
    {% for pizza in pizza_list %}
        <div class="product">
            <div class="product-image">
                <img src="{{ pizza.url }}" alt=""/>
            </div>
            <div class="product-info">
                <h4>{{ pizza.name }}</h4>
                <p>{{ pizza.price }} {{ pizza.currency }}</p>
                <p>{{ pizza.description }}</p>
            </div>
            <div class="product-button">
                <a class="add-to-cart" href="/checkout/{{ pizza.id }}/">
                    <span>Order!</span>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}