@font-face {
    font-family: NeoSans;
    src: url(sansation_light.woff);
}

@font-face{font-family:'NeoSans';
src:url('../fonts/NeoSans.eot');
src:url('../fonts/NeoSans.eot?#iefix')
 format('embedded-opentype'),
 url('../fonts/NeoSans.woff')
 format('woff'),url('../fonts/NeoSans.ttf')
 format('truetype'),
 url('../fonts/NeoSans.svg#svgFontName')
 format('svg')}

 @font-face{font-family:'NeoSansMedium';
 src:url('../fonts/NeoSansMedium.eot');
 src:url('../fonts/NeoSansMedium.eot?#iefix')
 format('embedded-opentype'),
 url('../fonts/NeoSansMedium.woff')
 format('woff'),
 url('../fonts/NeoSansMedium.ttf')
 format('truetype'),
 url('../fonts/NeoSansMedium.svg#svgFontName')
 format('svg')}

 @font-face{font-family:'NeoSansBold';
 src:url('../fonts/NeoSansBold.eot');
 src:url('../fonts/NeoSansBold.eot?#iefix')
 format('embedded-opentype'),url('../fonts/NeoSansBold.woff')
 format('woff'),url('../fonts/NeoSansBold.ttf')
 format('truetype'),
 url('../fonts/NeoSansBold.svg#svgFontName')
 format('svg')}


    html, body{
        font-family:NeoSans, Helvetica, sans-serif;
        letter-spacing:.1em;
    }


/*NAV BAR*/
    nav {
        width: 100%;
        height: 52px;
        background-color: #5a5a5a;
    }
    #navbar{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline-block;
    }
    .nav-button{
        float: left;
    }
    .nav-button a{
        display: block;
        color: white;
        padding: 16px 16px;
        text-decoration: none;
    }

/* Change the link color to #111 (black) on hover */
    .nav-button a:hover{
        background-color: #818B99;
        color: white;
    }
    .nav-button a:link{
        text-decoration: none;
    }
    .verticalLine {
      border-left: thick solid #ff0000;
    }
/*MAIN*/
    .myView{
        padding-top: 25px;
    }
    body{
        background-color: #FFAE38;
        padding-bottom: 40px;
    }
    .menu{
        width:55%!important;
        margin-right: 40px;
    }
/*CHECKOUT FORM*/
    #checkout{
        background-color: #5a5a5a;
        width: 290px;
        margin: 0 auto;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 10px;
    }
    #checkout label{
        display: none;
    }
    #checkout .errorlist{
        color: #fff;
        list-style-type: none;
        text-align: center;
        padding: 0;
    }
    .input-button-medium{
        width: 250px;
        height: 35px;
        margin: 10px auto 10px auto;
        border: 0;
        border-radius: 5px;
        display: block;
        font-weight: bold;
    }
    #checkout input{
        padding: 10px;
        border: 0;
    }
    #checkout button.input-button-medium{
        background-color: #eee;
        color: #555;
        transition: .5s all;
    }
    #checkout button.input-button-medium:onclick{
        background-color: #555;
        color: #eee;
    }
 /* TABLE */

 .table-hover>tbody>tr:hover{
     background-color: #818B99;
     padding-bottom: 30px;
 }

/*PRODUCTS*/
    #product-container{
    }
    .product{
        display: flex;
        justify-content: center;
        color: white;
        height: 150px;
        box-sizing: border-box;
        margin: 15px auto 0 auto;;
        border-radius: 8px;
    }
    .product .product-image{
        float: left;
        height: inherit;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }
    .product .product-image img{
        height: inherit;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }
    .product .product-info{
        background-color: #5a5a5a;
        float: left;
        min-width: 400px;
        height: inherit;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }
    .product .product-button{
        float: left;
        box-sizing: border-box;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    .product .product-button .add-to-cart{
        display: flex;
        color: white;
        font-size: 32px;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 150px;
        background-color: #444;
        box-sizing: border-box;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    .product .product-button .add-to-cart:hover{
        background-color: #818B99;
    }

/*THANKSITE*/
    .block{
        display: flex;
        justify-content: center;
    }

    .block ul{
        color: white;
        padding: 50px;
        background-color: #333;
        margin-top: 15%;
        border-radius: 8px;
        list-style-type: none;
        font-size: 20px;
    }


/*ORDERHISTORY*/

#orderHistory .table>tbody>tr>td{
    padding-top: 14px;
    padding-bottom: 14px;
}

 #orderHistory{
        background-color: #5a5a5a;
        width: 55%;
        margin: 0 auto;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 40px 60px 20px 60px;
        color: white;
        margin-top: 50px;
        font-size: 14px;
    }